body{
    background-color: gray;
    color: blue;

}

#heading{
    color: red;
    background-color: yellow;
}

.para{
    background-color: blue;
    color: yellow;
    font-family: 'Times New Roman';
}